:root {
  --primary-red-clr: rgb(255, 62, 62);
  --primary-white-clr: #fff;
  --primary-pink-clr: #ffa2a2;
  --logo-font: font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffa2a2;
}

html {
  font-size: 0.40rem;
  font-family: 'Roboto', sans-serif;
}

/***************** NAVIGATION BAR ****************/

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1.5rem;
  background-color: var(--primary-red-clr);
  z-index: 3;
}

.nav-logo {
  font-size: 6rem;
  font-weight: 500;
  color: var(--primary-white-clr);
}

.nav-menu {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 4rem;
  font-weight: 400;
  margin-left: 5rem;
  color: var(--primary-white-clr);
}

.nav-link:hover {
  text-decoration: underline;
}

.Cart_btn {
  display: flex;
  background-color: green;
  padding: 2.5rem;
}

/* SHAKING ANIMATION */
.primaryAddBtn:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.Cart_btn:hover {
  transform: scale(1.2);
}

.hamburger {
  display: none;
}

/********************** THE CABINET-TABLE****************/

.grid-container {
  display: grid;
  grid-template-columns:repeat(3,1fr);
  background-color: var(--primary-red-clr);
  grid-auto-rows: minmax(100px, auto);
  margin: 15vh 20vw;
  border: 15px solid var(--primary-red-clr);
  min-width: 700px;
}

.box {
  background-color: rgba(133, 66, 66, 0.705);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  position: relative;
  block-size: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FRONT DOOR */
.box__first {

  background-color: var(--primary-red-clr);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20%;
  font-size: 30px;
  text-align: center;
  z-index: 3;
  position: relative;
  width: 100%;
  /* will-change: transform; */
  transition: transform 1s;
  transform-origin: 0% 50%;

}

/* INSIDE THE BOX, HIDDEN TEXT */
.box__second {
  display: flex;
  position: absolute;
  z-index: 1;
  border-radius: 50px;
}

/* PRIMARY ADD BTN */
.primaryAddBtn {
  padding: 2rem;
  background-color:#04AA6D;
  width: 150px;
  border-radius:10px;
  font-size: 4rem;

}

/* ADD BTN */
.btn_add {
  display: none;
  padding: 2rem;
  max-width: 80px;
  background-color:#04AA6D;
  font-size: 8rem;
  border-radius:  50px 0 0 50px;
}

.counter_field {
    display: none;
  background: white;
  padding: 2rem;
  max-width: 80px;
  text-align: center;
  font-size: large;
  font-size: 8rem;
  border-radius: 50px;
}

.btn_remove {
    display: none;
  padding: 2rem;
  max-width: 80px;
  background-color: red;
  font-size:larger;
  font-size: 8rem;
  border-radius:  0px 50px 50px 0;
}

.btn_add.fa {
  font-size: 50px;
}

.btn_remove.fa {
  font-size: 50px;
}


/********************* MAKING DOOR OPENING **************'**/
.box:hover .box__first{
  position:relative;
  transform: perspective(8000px) rotateY(-100deg);
  transition: transform 1s;
  transform-origin: 0% 50%;
  color:rgb(255, 62, 62);
  border: 1px solid black;
  z-index: 5;
}

/******************* CHECKOUT FORM FROM PAGE 2 ***************/
.checkout {
  box-sizing: border-box;
  margin: 10rem 5rem;
  font-size: 7rem;
}

input {
  font-size: 100%;
}
.checkout h2 {
  text-align: center;
  background-color:lavender;
  padding: 3rem ;
}

.checkout h3 {
  margin: 2.5rem;
}


.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}
/******************** CONTAINER WITH ITEMS ********************/
.container_item_price {
  background-color: #eecccc;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.submit_btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 70px;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

.item_total {
  font-weight: 600;
  padding: 1rem;
}

/************************** SCREENS LESS THAN 890px ***********************/
@media only screen and (max-width: 890px) {

/*''''''''''''' MENU'''''''''''' */
  .nav-menu {
    position: fixed;
    left: -100%;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 20;
  }

  .nav-link {
    color: var(--primary-red-clr);
    margin: 2.5rem 0;

  }

  .nav-menu.active {
    position: fixed;
    left: 0;
    top:4.1%;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-white-clr);
  }

  .hamburger {
    display: block;
    cursor: pointer;
    cursor: auto;
  }

  /* Select second element with .bar */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /*''''''''''''''' THE CABINET-TABLE ''''''''''''''''*/

   .grid-container {
    grid-template-columns: auto;
    min-width: 200px;
    
  }
  .box{
    font-size: 3em;
    /* overflow: hidden; */
  }

  
  /* CHECKOUT FORM */
  .row {
    flex-direction: column-reverse;
  }

  .checkout {
   
    font-size: 4rem;
  }

  .submit_btn {
  
    font-size: 15px;
  }


  .col-25 {
    margin-bottom: 20px;
  }
}

